/*

    Colours

 */

$black: #000;
$dark-grey: #333;
$medium-grey: #666;
$light-grey: #999;
$lighter-grey: #ccc;
$lightest-grey: #eee;
$white: #fff;

$dark-red: #cc0000;
$red: #dd2e44;
$orange: #ff7f50;
$yellow: #ffcc00;

$teal: #008080;


/*

    Font sizes

*/

$xlarge: 32 / 16 * 1em;
$large: 24 / 16 * 1em;
$medium: 14 / 16 * 1em;
$small: 10 / 16 * 1em;
$xsmall: 8 / 16 * 1em;


/*

    Variables

 */

$kb-header-height: 80px;
$kb-header-menu-height: 34px;
$kb-border: 20px;
$kb-icon-prefix: icon-;
$kb-dashboard-menu-height: 70px;
$kb-snap-menu-width: 300px;
