<div class="actionmenu-wrapper">

    <div class="actionmenu">

        <button
            class="form-btn form-submit"
            type="submit"
            ng-click="submitFunction(true)"
            ng-if="displayAddNew">
            {{ 'SUBMIT_SAVE_AND_ADD' | translate }}
        </button>

        <button
            class="form-btn form-submit"
            ng-click="submitFunction(false)"
            type="submit">
            {{ 'SUBMIT_SAVE' | translate }}
        </button>

        <button
            class="form-btn form-cancel"
            type="button"
            kb-confirm-click="{{ 'CONFIRM_SUBMIT_CANCEL' | translate }}"
            ng-click="cancelFunction()">
            {{ 'SUBMIT_CANCEL' | translate }}
        </button>

    </div>

</div>
