.btn-new {

    &:after {
        @extend .fa;

        padding-left: 3px;
        content: $fa-var-plus-circle;
    }

}

.btn-delete {

    &:after {
        @extend .fa;

        padding-left: 3px;
        content: $fa-var-minus-circle;
    }

}

.btn-edit {

    &:after {
        @extend .fa;

        padding-left: 3px;
        content: $fa-var-pencil;
    }

}
