.form-bg {

    @include border-radius(5px);

    padding: 20px;
    background: {
        color: $white;
    }
    border: {
        color: $light-grey;
        style: solid;
        width: 1px;
    }

}

.input-group {

    width: 100%;

    .input-group-addon {

        &.input-group-addon-pre {
            width: 45px;
        }

    }

}

.form-submit,
.form-cancel {

    @extend .btn;
    @extend .btn-block;

}

.form-submit {
    @include button-variant($white, $teal, $teal);
}

.form-cancel {
    @extend .btn-default;
}

.form-wrapper {

    @extend .col-sm-9;
    @extend .form-horizontal;

    .control-label {
        @extend .col-sm-2;
    }

    .form-control {
        @extend .col-sm-10;
    }

    .schema-form-checkbox {

        label {
            @extend .col-sm-offset-2;
            @extend .col-sm-10;
        }

    }

}

.form-actionmenu-wrapper {

    .form-actionmenu {

        @extend .form-bg;

        button:not(:last-of-type) {
            margin-bottom: 20px;
        }

    }

    @extend .col-sm-3;

}
