<kblayout template="blackout">

    <div class="row">

        <div class="logo align-center col-sm-4">
            <a href="/">
                <img src="images/icons/logo.svg" alt="KitBag" />
            </a>
        </div>

        <div class="col-sm-8">

            <img class="img-rounded img-border-topbottom" src="images/errors/404.jpg" alt="{{ 'IMG_KITBAG_PAGE_MISSING' | translate }}" />

            <p>
                <a href="/">
                    {{ 'TEXT_RETURN_TO_HOMEPAGE' | translate }}
                </a>
            </p>

        </div>

    </div>

</kblayout>
