<kblayout>

    <nav class="navbar" role="navigation">

        <div class="container-fluid">

            <div class="title">
                <i class="icon icon-asset"></i>
                {{ 'ORGANIZATION_ASSET_PAGETITLE' | translate : { organizationName: organization.getName() } }}
            </div>

        </div>

    </nav>

    <div class="body">

        <kb-breadcrumbs></kb-breadcrumbs>

        <div class="wrapper">

            <div class="title">
                {{ 'ORDINARY_ASSET_TYPES' | translate }}
            </div>

            <div class="lozenges">

                <kblozenge
                    ng-repeat="asset in assets.getAll()"
                    href=".asset-type.view"
                    href-vars="{ asset: asset.id }">

                    <!--<div class="badge" tooltip="{{ 'ASSET_COUNT' | translate:{ count: asset.assetCount() }:'messageformat' }}">-->
                    <!--<span ng-if="asset.assetCount() > 10">-->
                    <!--10&plus;-->
                    <!--</span>-->

                    <!--<span ng-if="assetType.assetCount() <= 10">-->
                    <!--{{ assetType.assetCount() }}-->
                    <!--</span>-->
                    <!--</div>-->

                    {{ asset.serialNumber }}
                </kblozenge>

            </div>

        </div>

    </div>

</kblayout>
