<kblayout>

    <nav class="navbar" role="navigation">

        <div class="container-fluid">

            <div class="title">
                <i class="icon icon-organization"></i>
                {{ pageTitle | translate : { organizationName: organization.getName() } }}
            </div>

        </div>

    </nav>

    <div class="body">

        <kb-breadcrumbs></kb-breadcrumbs>

        <form
            name="assetTypeEditForm"
            ng-submit="formSubmit(assetTypeEditForm)">

            <div
                sf-schema="schema"
                sf-form="form"
                sf-model="data"
                class="form-wrapper">
            </div>

            <kb-action-menu
                add-new="true">
            </kb-action-menu>

        </form>

    </div>

</kblayout>
