<kblayout>

    <nav class="navbar" role="navigation">

        <div class="container-fluid">

            <div class="title">
                <i class="icon icon-asset"></i>
                {{ 'ASSET_PAGETITLE' | translate : {
                  organizationName: organization.getName(),
                  assetType: asset.getType().getName(),
                  serialNumber: asset.getSerialNumber()
                } }}

            </div>

        </div>

    </nav>

    <div class="body">

        <kb-breadcrumbs></kb-breadcrumbs>

        <!--<pre>{{ schema.properties | json }}</pre>-->
        <div class="form-horizontal">
            <div class="form-group" ng-repeat="(key, value) in schema.properties">

                <div ng-if="translate[key]">

                    <label class="col-sm-3 control-label">
                        {{ translate[key] | translate }}
                    </label>

                    <div class="col-sm-9">
                        <kb-schema-string
                            schema="value"
                            data="data[key]">
                                &lt;null&gt;
                        </kb-schema-string>
                    </div>

                </div>

            </div>
        </div>

    </div>

</kblayout>
