<kblayout>

    <nav class="navbar" role="navigation">

        <div class="container-fluid">

            <div class="title">
                <i class="icon icon-asset"></i>
                {{ 'ASSET_PAGETITLE' | translate : {
                  organizationName: organization.getName(),
                  assetType: asset.getType().getName(),
                  serialNumber: asset.getSerialNumber()
                } }}

            </div>

        </div>

    </nav>

    <div class="body">

        <kb-breadcrumbs></kb-breadcrumbs>

        asset view

    </div>

</kblayout>
