<kblayout>

    <nav class="navbar" role="navigation">

        <div class="container-fluid">

            <div class="title">
                <i class="icon icon-scanner"></i>
                {{ pageTitle | translate }}
            </div>

        </div>

    </nav>

    <div class="body">

        <kb-breadcrumbs></kb-breadcrumbs>

        <div class="center">

            <kb-barcode-scanner
                qr-height="500"
                qr-width="500"
                qr-success="onSuccess(data)"
                qr-decode-error="onDecodeError(err)"
                qr-video-error="onVideoError(err)">
            </kb-barcode-scanner>

        </div>

    </div>

</kblayout>
