<main class="layout login_layout">

    <div class="kbSiteContent">

        <div class="container">

            <div class="layout_content">

                <a class="logo" href="/">
                    <img src="images/icons/white-logo.svg" alt="KitBag" />
                </a>

                <form
                    sf-schema="schema"
                    sf-form="form"
                    sf-model="data"
                    name="loginForm"
                    ng-submit="formSubmit(loginForm)">
                </form>

            </div>

        </div>

    </div>

</main>
