<main class="layout form-actionmenu_layout">

    <div ng-controller="HeaderCtrl" ng-include="'views/components/header.html'"></div>

    <div class="kbSiteContent">

        <div class="container">

            <form
                name="kitbagForm"
                class="kitbag-form"
                ng-submit="actionMenu.submit.function(kitbagForm)">

                <div class="layout_content" ng-transclude></div>

                <div class="layout_rightsidebar">

                    <input
                        type="submit"
                        class="form-submit"
                        value="{{ actionMenu.submit.name | translate }}" />

                    <button
                        type="button"
                        class="form-cancel"
                        ng-click="actionMenu.cancel.function(kitbagForm)"
                        ng-if="actionMenu.cancel">
                        {{ actionMenu.cancel.name | translate }}
                    </button>

                </div>

            </form>

        </div>

    </div>

    <div ng-controller="FooterCtrl" ng-include="'views/components/footer.html'"></div>

</main>
